.card1-card2 {
  position: relative;
  width: 100%;
  // background-size: cover;
  // background-image: url(../images/c1c2bg.png);

  .card1 {
    width: 100%;
    overflow: hidden;
    position: relative;
    .line-one-box {
      width: 100%;
      position: relative;
      height: 100vh;

      .absolute1 {
        position: absolute;
        top: -14%;
        left: 0px;
        width: 100%;
        z-index: 10;
        @media all and (max-width: 1440px) {
          top: -5%;
        }
        .relative {
          position: relative;
          width: 100%;
          svg {
            width: 100%;

            #line-mask_1_back {
              .js-line_mask_2_1 {
                border: pink;
              }
            }
          }
        }
      }

      .absolute2 {
        position: absolute;
        width: 100%;
        top: -14%;
        left: 0px;
        @media all and (max-width: 1440px) {
          top: -5%;
        }
        .relative {
          position: relative;
          width: 100%;
          svg {
            width: 100%;

            #line-mask_1_back {
              .js-line_mask_2_1 {
                border: pink;
              }
            }
          }
        }
      }

      .c1-circle {
        position: absolute;
        bottom: 17vw;
        left: 10vw;
        width: 7%;
        z-index: 15;
      }

      // .c1-logo {
      //   width: 39%;
      //   position: absolute;
      //   top: 50%;
      //   left: 51%;
      //   transform: translate(-50%, -50%);
      //   filter: drop-shadow(5px 8px 5px rgba(43, 43, 43, 0.4));
      //   z-index: 15;
      // }

      .c1-logo-box {
        position: absolute;
        top: 55%;
        display: flex;
        left: 50.5%;
        transform: translate(-50%, -50%);
        filter: drop-shadow(5px 8px 5px rgba(43, 43, 43, 0.6));
        z-index: 15;
        .c1-logo {
          display: flex;
          position: relative;
          .feng-yi {
            display: flex;
            flex-direction: column;
            margin-right: 1.5vw;
            width: 4.7vw;
            .feng {
              margin-bottom: 0.5vw;
            }
          }

          .one {
            display: flex;
            .o {
              margin-right: 1vw;
              height: 9.5vw;
            }
            .white1 {
              margin-right: 0.3vw;
              height: 9.5vw;
            }
            .gold1 {
              // margin-right: 1vw;
              height: 9.5vw;
            }
            .e {
              margin-right: 1vw;
              height: 9.5vw;
            }
          }
          .logo-box {
            position: relative;
            background: linear-gradient(
              to right,
              #d2a770 0%,
              #f2ca8c 49%,
              #d2a770 100%
            );
            -webkit-mask-image: url(../images/gold1.svg);
            mask-image: url(../images/gold1.svg);
            mask-repeat: no-repeat;
            width: 4.8vw;
            overflow: hidden;

            .light {
              position: relative;
              z-index: 1;
              width: 70%;
              height: 128%;
              background: linear-gradient(
                to right,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 1) 50%,
                rgba(255, 255, 255, 0) 100%
              );
              transform: rotate(34deg) translateX(-200%);
              animation-name: lightMv;
              animation-duration: 2s;
              animation-iteration-count: infinite;
            }
          }

          @keyframes lightMv {
            0% {
              transform: rotate(34deg) translateX(-200%);
            }
            100% {
              transform: rotate(34deg) translateX(200%);
            }
          }

          .add {
            position: relative;
            margin-top: -4vw;
            margin-left: -1.5vw;
            background: linear-gradient(
              to right,
              #d2a770 0%,
              #f2ca8c 49%,
              #d2a770 100%
            );
            -webkit-mask-image: url(../images/add.svg);
            mask-image: url(../images/add.svg);
            mask-repeat: no-repeat;
            width: 4.5vw;
            overflow: hidden;

            .light {
              position: relative;
              z-index: 1;
              width: 70%;
              height: 128%;
              background: linear-gradient(
                to right,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 1) 50%,
                rgba(255, 255, 255, 0) 100%
              );
              transform: rotate(34deg) translateX(-200%);
              animation-name: lightMv;
              animation-duration: 2s;
              animation-iteration-count: infinite;
            }
          }
        }
      }

      .c1-small-logo {
        position: absolute;
        bottom: 2vw;
        width: 30%;
        left: 49%;
        transform: translate(-50%, -50%);
      }

      .c1-video {
        position: absolute;
        right: 0px;
        width: 30vw;
        z-index: 10;
      }
    }

    .line-two-box {
      width: 100%;
      .absolute3 {
        position: absolute;
        width: 100%;
        top: 0px;
        left: 0px;
        .relative {
          position: relative;
          width: 100%;
          svg {
            width: 100%;
          }
        }
      }
      .absolute4 {
        position: absolute;
        width: 100%;
        top: 0px;
        left: 0px;
        .relative {
          position: relative;
          width: 100%;
          svg {
            width: 100%;
          }
        }
      }
    }
  }

  .card2 {
    width: 100%;
    height: 95vh;
    // overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 7vw;

    .top {
      display: flex;
      justify-content: left;
      padding-left: 15%;
      position: relative;
      .img1 {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
      .img2 {
        width: 14%;
        right: 12vw;
        top: -2vw;
        position: absolute;
      }
      .text {
        font-size: 7.3vw;
        color: white;
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        padding-bottom: 3vw;
        margin-top: -1.3vw;
        margin-left: 2.5vw;

        .text-2 {
          margin-left: 6vw;
        }
      }
    }
    .bottom {
      display: flex;
      justify-content: left;
      padding-left: 15%;
      position: relative;

      margin-top: 4vw;
      .text-box {
        display: flex;

        justify-content: center;
        .text {
          display: flex;
          flex-direction: column;
          .en-title {
            border-bottom: 1px solid white;
            padding-bottom: 0.5vw;
            @include ENtitle();
          }

          .content {
            margin-top: 1vw;
            @include content();
          }
        }
      }

      .img3 {
        width: 30%;
        margin-left: 4%;
        margin-top: -5%;
      }
    }
  }
}
// @keyframes dash {
//   to {
//     stroke-dashoffset: 0;
//   }
// }
